openapi: 3.1.0
info:
  title: Octomil Contract
  version: 1.28.0
  description: Generated from octomil-contracts (RPC-style HTTP).
  contact:
    name: Octomil API
    email: support@octomil.com
    url: https://octomil.com/support
  license:
    name: Proprietary
    url: https://octomil.com/terms
servers:
- url: https://api.octomil.com
  description: Production
- url: http://localhost:8000
  description: Local development
x-octomil-min-server: 1.0.0
x-octomil-namespaces:
  stable:
  - models
  - responses
  - control
  - capabilities
  - telemetry
  - chat
  - devices
  - artifacts
  - federation
  - training
  - audio
  - text
  - billing
  - monitoring
  - settings
  - cache
  - admin
  - agents
  - jobs
  compatibility: []
  experimental:
  - workflows
  - routing
  - runtime
x-octomil-release-gate:
  conformance_required: true
  minimum_fixture_pass: 100%
  parity_score_floor: 60%
  lifecycle_parity_score_floor: 60%
x-octomil-sdks:
  python:
    package: octomil
    min_contract: 1.0.0
    max_tested: 1.0.0
  ios:
    package: Octomil
    min_contract: 1.0.0
    max_tested: 1.0.0
  android:
    package: ai.octomil
    min_contract: 1.0.0
    max_tested: 1.0.0
  browser:
    package: '@octomil/browser'
    min_contract: 1.0.0
    max_tested: 1.0.0
  node:
    package: '@octomil/sdk'
    min_contract: 1.0.0
    max_tested: 1.0.0
tags:
- name: admin
- name: agents
- name: apps
- name: artifacts
- name: audio
- name: auth
- name: catalog
- name: chat
- name: cloud
- name: deploy
- name: deployments
- name: device_groups
- name: devices
- name: eval
- name: feature_flags
- name: federation
- name: federations
- name: inference
- name: jobs
- name: logs
- name: models
- name: monitoring
- name: providers
- name: recommendations
- name: responses
- name: route
- name: routing
- name: runtime
- name: settings
- name: telemetry
- name: traces
- name: training
- name: usage
paths:
  /api/v1/admin/billing/zoho-export-status:
    get:
      operationId: admin_billing_get_zoho_export_status
      summary: Read-only ops view of Zoho Books invoice export rows for an org.
      tags:
      - admin
      x-octomil-method: admin.billing.get_zoho_export_status
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: Read-only ops view of Zoho Books invoice export rows for an org.
      parameters:
      - name: org_id
        in: query
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          maximum: 200
          default: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/catalog-sync/entries/{entry_id}/approve:
    post:
      operationId: admin_catalog_sync_approve_entry
      summary: Approve a pending catalog sync entry, triggering catalog upsert (family, variant, and version creation or linking).
        Re-a
      tags:
      - admin
      x-octomil-method: admin.catalog_sync.approve_entry
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - model_not_found
      - network_unavailable
      - request_timeout
      - server_error
      description: Approve a pending catalog sync entry, triggering catalog upsert (family, variant, and version creation
        or linking). Re-approving an already-mapped entry is a no-op at the catalog layer. Returns 404 if the entry does not
        exist. Requires JWT auth with admin or owner role.
      parameters:
      - name: entry_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Mapping result for the approved entry.
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/catalog-sync/sources:
    post:
      operationId: admin_catalog_sync_create_source
      summary: Create a new provider catalog sync source. Returns the created source with 201. Requires JWT auth with admin
        or owner ro
      tags:
      - admin
      x-octomil-method: admin.catalog_sync.create_source
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: Create a new provider catalog sync source. Returns the created source with 201. Requires JWT auth with
        admin or owner role. auth_config is write-only (credentials are not returned in subsequent GET responses).
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 128
                provider_type:
                  type: string
                  maxLength: 32
                  default: huggingface
                enabled:
                  type: boolean
                  default: true
                base_url:
                  type: string
                  maxLength: 512
                  default: https://huggingface.co
                auth_config:
                  type: object
                  nullable: true
                  additionalProperties: true
                search_filters:
                  type: object
                  nullable: true
                  additionalProperties: true
                list_refresh_interval:
                  type: integer
                  minimum: 300
                  default: 21600
                  description: Seconds between list refreshes.
                detail_refresh_interval:
                  type: integer
                  minimum: 300
                  default: 86400
                  description: Seconds between detail refreshes.
                max_concurrent_fetches:
                  type: integer
                  minimum: 1
                  maximum: 20
                  default: 5
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                status: 201
                type: object
                description: Created catalog sync source.
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    get:
      operationId: admin_catalog_sync_list_sources
      summary: 'List all provider catalog sync sources (e.g. HuggingFace). Returns every source ordered by provider_type.
        No pagination '
      tags:
      - admin
      x-octomil-method: admin.catalog_sync.list_sources
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - network_unavailable
      - request_timeout
      - server_error
      description: "List all provider catalog sync sources (e.g. HuggingFace). Returns every source ordered by provider_type.\
        \ No pagination \u2014 source count is bounded by registered providers. Requires JWT auth with admin or owner role."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: List of catalog sync sources.
                items:
                  type: object
                  additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/catalog-sync/sources/{source_id}:
    delete:
      operationId: admin_catalog_sync_delete_source
      summary: 'Delete a catalog sync source. Returns 204 No Content on success. Returns 404 if the source does not exist.
        Requires JWT '
      tags:
      - admin
      x-octomil-method: admin.catalog_sync.delete_source
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - model_not_found
      - network_unavailable
      - request_timeout
      - server_error
      description: Delete a catalog sync source. Returns 204 No Content on success. Returns 404 if the source does not exist.
        Requires JWT auth with admin or owner role.
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                status: 204
                type: 'null'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    patch:
      operationId: admin_catalog_sync_update_source
      summary: Partially update a catalog sync source. Only supplied fields are updated (exclude_unset semantics). Requires
        JWT auth wi
      tags:
      - admin
      x-octomil-method: admin.catalog_sync.update_source
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - model_not_found
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: Partially update a catalog sync source. Only supplied fields are updated (exclude_unset semantics). Requires
        JWT auth with admin or owner role. Returns 404 if the source does not exist.
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  minLength: 1
                  maxLength: 128
                enabled:
                  type: boolean
                base_url:
                  type: string
                  maxLength: 512
                auth_config:
                  type: object
                  nullable: true
                  additionalProperties: true
                search_filters:
                  type: object
                  nullable: true
                  additionalProperties: true
                list_refresh_interval:
                  type: integer
                  minimum: 300
                detail_refresh_interval:
                  type: integer
                  minimum: 300
                max_concurrent_fetches:
                  type: integer
                  minimum: 1
                  maximum: 20
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Updated catalog sync source.
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/catalog-sync/runs/{run_id}:
    get:
      operationId: admin_catalog_sync_get_run
      summary: Fetch a single catalog sync run by ID. Returns 404 if the run does not exist. Requires JWT auth with admin
        or owner role
      tags:
      - admin
      x-octomil-method: admin.catalog_sync.get_run
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - model_not_found
      - network_unavailable
      - request_timeout
      - server_error
      description: Fetch a single catalog sync run by ID. Returns 404 if the run does not exist. Requires JWT auth with admin
        or owner role.
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Catalog sync run detail.
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/catalog-sync/health:
    get:
      operationId: admin_catalog_sync_health
      summary: Return an aggregate health summary across all catalog sync sources. Always returns 200 even when all sources
        are in erro
      tags:
      - admin
      x-octomil-method: admin.catalog_sync.health
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - network_unavailable
      - request_timeout
      - server_error
      description: "Return an aggregate health summary across all catalog sync sources. Always returns 200 even when all sources\
        \ are in error state \u2014 health status is embedded in the payload. Requires JWT auth with admin or owner role."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Aggregate health summary for all catalog sync sources.
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/catalog-sync/sources/{source_id}/entries:
    get:
      operationId: admin_catalog_sync_list_entries
      summary: List catalog sync entries discovered from an external source (e.g. HuggingFace). Supports filtering by mapping_status.
        U
      tags:
      - admin
      x-octomil-method: admin.catalog_sync.list_entries
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - network_unavailable
      - request_timeout
      - server_error
      description: "List catalog sync entries discovered from an external source (e.g. HuggingFace). Supports filtering by\
        \ mapping_status. Uses offset pagination (STYLE_GUIDE \xA74 grandfathered). Does not return 404 if source_id is unknown\
        \ \u2014 returns empty array. Requires JWT auth with admin or owner role."
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: mapping_status
        in: query
        required: false
        schema:
          type: string
        description: Filter by mapping_status (e.g. pending, mapped, failed).
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          default: 100
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: Catalog sync entries for the source.
                items:
                  type: object
                  additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/catalog-sync/sources/{source_id}/runs:
    get:
      operationId: admin_catalog_sync_list_runs
      summary: 'List the most recent sync runs for a catalog sync source, ordered by started_at descending. Hardcoded limit
        of 50 runs. '
      tags:
      - admin
      x-octomil-method: admin.catalog_sync.list_runs
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - network_unavailable
      - request_timeout
      - server_error
      description: "List the most recent sync runs for a catalog sync source, ordered by started_at descending. Hardcoded\
        \ limit of 50 runs. Does not return 404 if the source_id is unknown \u2014 returns an empty array. Requires JWT auth\
        \ with admin or owner role."
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: Up to 50 most recent sync runs for this source, newest first.
                items:
                  type: object
                  additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/catalog-sync/sources/{source_id}/sync:
    post:
      operationId: admin_catalog_sync_trigger_sync
      summary: Trigger a manual catalog sync for the given source. Enqueues a background job (priority=600) and returns 202
        with the jo
      tags:
      - admin
      x-octomil-method: admin.catalog_sync.trigger_sync
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - model_not_found
      - network_unavailable
      - request_timeout
      - server_error
      description: Trigger a manual catalog sync for the given source. Enqueues a background job (priority=600) and returns
        202 with the job_id immediately. The resulting CatalogSyncRun will have trigger='manual'. Requires JWT auth with admin
        or owner role.
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                force_full:
                  type: boolean
                  default: false
                  description: If true, ignore incremental state and do a full re-scan.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                status: 202
                type: object
                properties:
                  job_id:
                    type: string
                  status:
                    type: string
                    enum:
                    - queued
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/cloud-catalog/mappings:
    post:
      operationId: admin_cloud_catalog_create_mapping
      summary: Create a curated mapping from an internal catalog variant to a cloud provider model ID. Returns 201 with the
        created map
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.create_mapping
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: Create a curated mapping from an internal catalog variant to a cloud provider model ID. Returns 201 with
        the created mapping. mapping_type defaults to 'curated' for manually created mappings. Requires JWT auth with admin
        or owner role.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - variant_id
              - cloud_model_id
              properties:
                variant_id:
                  type: string
                  format: uuid
                  description: Internal catalog variant ID to map.
                cloud_model_id:
                  type: string
                  description: External cloud provider model ID (e.g. gpt-4o, claude-3-5-sonnet-20241022).
                mapping_type:
                  type: string
                  enum:
                  - curated
                  - auto
                  default: curated
                confidence:
                  type: number
                  nullable: true
                  description: Confidence score (0-1) for auto-suggested mappings.
                notes:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                status: 201
                type: object
                description: Created variant mapping.
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    get:
      operationId: admin_cloud_catalog_list_mappings
      summary: "List all variant-to-cloud-model mappings, ordered by created_at descending. No pagination \u2014 mapping count\
        \ is bounded by "
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.list_mappings
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - network_unavailable
      - request_timeout
      - server_error
      description: "List all variant-to-cloud-model mappings, ordered by created_at descending. No pagination \u2014 mapping\
        \ count is bounded by the number of catalog variants. Requires JWT auth with admin or owner role."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: All variant-to-cloud-model mappings, newest first.
                items:
                  type: object
                  additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/cloud-catalog/sources:
    post:
      operationId: admin_cloud_catalog_create_source
      summary: 'Create a new cloud provider catalog source. Returns the created source with 201. provider_key must be unique
        across all '
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.create_source
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: Create a new cloud provider catalog source. Returns the created source with 201. provider_key must be unique
        across all cloud catalog sources. Requires JWT auth with admin or owner role.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - provider_key
              - display_name
              properties:
                provider_key:
                  type: string
                  description: Stable provider key (e.g. openai, anthropic).
                display_name:
                  type: string
                source_config:
                  type: object
                  nullable: true
                  additionalProperties: true
                models_refresh_interval:
                  type: integer
                  default: 21600
                  description: Seconds between model list refreshes.
                pricing_refresh_interval:
                  type: integer
                  default: 43200
                  description: Seconds between pricing refreshes.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                status: 201
                type: object
                description: Created cloud catalog source.
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    get:
      operationId: admin_cloud_catalog_list_sources
      summary: "List all cloud provider catalog sources (e.g. OpenAI, Anthropic), ordered by provider_key. No pagination \u2014\
        \ source count "
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.list_sources
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - network_unavailable
      - request_timeout
      - server_error
      description: "List all cloud provider catalog sources (e.g. OpenAI, Anthropic), ordered by provider_key. No pagination\
        \ \u2014 source count is bounded by registered cloud providers. Requires JWT auth with admin or owner role."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: List of cloud catalog sources.
                items:
                  type: object
                  additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/cloud-catalog/mappings/{mapping_id}:
    delete:
      operationId: admin_cloud_catalog_delete_mapping
      summary: Delete a variant-to-cloud-model mapping. Returns 204 No Content on success. Returns 404 if the mapping does
        not exist. R
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.delete_mapping
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - model_not_found
      - network_unavailable
      - request_timeout
      - server_error
      description: Delete a variant-to-cloud-model mapping. Returns 204 No Content on success. Returns 404 if the mapping
        does not exist. Requires JWT auth with admin or owner role.
      parameters:
      - name: mapping_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                status: 204
                type: 'null'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/cloud-catalog/sources/{source_id}:
    delete:
      operationId: admin_cloud_catalog_delete_source
      summary: Delete a cloud catalog source. Returns 204 No Content on success. Returns 404 if the source does not exist.
        Requires JWT
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.delete_source
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - model_not_found
      - network_unavailable
      - request_timeout
      - server_error
      description: Delete a cloud catalog source. Returns 204 No Content on success. Returns 404 if the source does not exist.
        Requires JWT auth with admin or owner role.
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                status: 204
                type: 'null'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    patch:
      operationId: admin_cloud_catalog_update_source
      summary: Partially update a cloud catalog source. Only supplied fields are updated (exclude_unset semantics). provider_key
        is imm
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.update_source
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - model_not_found
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: Partially update a cloud catalog source. Only supplied fields are updated (exclude_unset semantics). provider_key
        is immutable. Returns 404 if the source does not exist. Requires JWT auth with admin or owner role.
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                display_name:
                  type: string
                enabled:
                  type: boolean
                source_config:
                  type: object
                  nullable: true
                  additionalProperties: true
                models_refresh_interval:
                  type: integer
                pricing_refresh_interval:
                  type: integer
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Updated cloud catalog source.
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/cloud-catalog/runs/{run_id}:
    get:
      operationId: admin_cloud_catalog_get_run
      summary: Fetch a single cloud catalog sync run by ID. Returns 404 if the run does not exist. Requires JWT auth with
        admin or owne
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.get_run
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - model_not_found
      - network_unavailable
      - request_timeout
      - server_error
      description: Fetch a single cloud catalog sync run by ID. Returns 404 if the run does not exist. Requires JWT auth with
        admin or owner role.
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Cloud catalog sync run detail.
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/cloud-catalog/health:
    get:
      operationId: admin_cloud_catalog_health
      summary: "Return an aggregate health summary across all cloud catalog sources. Always returns 200 \u2014 health status\
        \ is embedded in t"
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.health
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - network_unavailable
      - request_timeout
      - server_error
      description: "Return an aggregate health summary across all cloud catalog sources. Always returns 200 \u2014 health\
        \ status is embedded in the payload. total_models counts all CloudCatalogModel rows regardless of stale status. Requires\
        \ JWT auth with admin or owner role."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Aggregate health summary for all cloud catalog sources.
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/cloud-catalog/sources/{source_id}/runs:
    get:
      operationId: admin_cloud_catalog_list_runs
      summary: List the most recent cloud catalog sync runs for a source, ordered by started_at descending. Hardcoded limit
        of 50 runs.
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.list_runs
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - network_unavailable
      - request_timeout
      - server_error
      description: "List the most recent cloud catalog sync runs for a source, ordered by started_at descending. Hardcoded\
        \ limit of 50 runs. Does not return 404 if the source_id is unknown \u2014 returns an empty array. Requires JWT auth\
        \ with admin or owner role."
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: Up to 50 most recent cloud catalog sync runs for this source, newest first.
                items:
                  type: object
                  additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/cloud-catalog/sources/{source_id}/models:
    get:
      operationId: admin_cloud_catalog_list_source_models
      summary: List all cloud models for a source including stale ones.
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.list_source_models
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - cloud_catalog_source_not_found
      - network_unavailable
      - request_timeout
      - server_error
      description: List all cloud models for a source including stale ones.
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/cloud-catalog/sources/{source_id}/pricing:
    get:
      operationId: admin_cloud_catalog_list_source_pricing
      summary: Latest non-stale pricing per model for a source.
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.list_source_pricing
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - cloud_catalog_source_not_found
      - network_unavailable
      - request_timeout
      - server_error
      description: Latest non-stale pricing per model for a source.
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/cloud-catalog/mappings/suggest:
    post:
      operationId: admin_cloud_catalog_suggest_mappings
      summary: Auto-suggest variant-to-cloud-model mappings. Results not persisted.
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.suggest_mappings
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - network_unavailable
      - request_timeout
      - server_error
      description: Auto-suggest variant-to-cloud-model mappings. Results not persisted.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/cloud-catalog/sources/{source_id}/sync:
    post:
      operationId: admin_cloud_catalog_trigger_sync
      summary: Trigger a manual cloud catalog sync for the given source (both models and pricing phases). Enqueues a background
        job (pr
      tags:
      - admin
      x-octomil-method: admin.cloud_catalog.trigger_sync
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - model_not_found
      - network_unavailable
      - request_timeout
      - server_error
      description: Trigger a manual cloud catalog sync for the given source (both models and pricing phases). Enqueues a background
        job (priority=500, phase='both') and returns 202 with job_id immediately. The resulting CloudCatalogSyncRun will have
        trigger='manual'. Requires JWT auth with admin or owner role.
      parameters:
      - name: source_id
        in: path
        required: true
        schema:
          type: string
          format: uuid
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                status: 202
                type: object
                properties:
                  job_id:
                    type: string
                  status:
                    type: string
                    enum:
                    - queued
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/admin/devices/backfill-classes:
    post:
      operationId: admin_devices_backfill_classes
      summary: Backfill device_class for NULL-classified devices. Safe to re-run.
      tags:
      - admin
      x-octomil-method: admin.devices.backfill_classes
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - Sets device_class.
      - Ensures DeviceGroups.
      - Applies auto-assignment.
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - network_unavailable
      - request_timeout
      - server_error
      description: Backfill device_class for NULL-classified devices. Safe to re-run.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                properties:
                  classified:
                    type: integer
                  skipped:
                    type: integer
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v2/admin/devices:
    get:
      operationId: admin_devices_search
      summary: Search and filter devices across the fleet for a given org. Supports filtering by device_identifier (partial
        ILIKE match
      tags:
      - admin
      x-octomil-method: admin.devices.search
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - insufficient_scope
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: "Search and filter devices across the fleet for a given org. Supports filtering by device_identifier (partial\
        \ ILIKE match), app_version, active_model_version, platform, and status. Uses offset pagination (STYLE_GUIDE \xA7\
        4 grandfathered). Accepts JWT or API-key auth; requires devices:read scope in both cases."
      parameters:
      - name: org_id
        in: query
        required: true
        schema:
          type: string
        description: Organization to search within.
      - name: device_identifier
        in: query
        required: false
        schema:
          type: string
        description: Partial (ILIKE) match on device_identifier.
      - name: app_version
        in: query
        required: false
        schema:
          type: string
        description: Exact app version match.
      - name: model_version
        in: query
        required: false
        schema:
          type: string
        description: Exact active_model_version match.
      - name: platform
        in: query
        required: false
        schema:
          type: string
        description: Filter by platform (e.g. ios, android).
      - name: status
        in: query
        required: false
        schema:
          type: string
        description: Filter by device status.
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 100
      - name: offset
        in: query
        required: false
        schema:
          type: integer
          minimum: 0
          default: 0
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: Paginated device list with devices[], total, limit, and offset.
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/agents/approval_requests/{approval_id}/resolve:
    post:
      operationId: agents_approval_requests_resolve
      summary: Resolve a pending approval request. Validates parent run belongs to authenticated org. Sets status, reason,
        resolved_by,
      tags:
      - agents
      x-octomil-method: agents.approval_requests.resolve
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - Updates ApprovalRequest.status, .reason, .resolved_by, .resolved_at.
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - approval_not_found
      - approval_already_resolved
      - invalid_input
      - agent_system_unavailable
      - network_unavailable
      - request_timeout
      - server_error
      description: Resolve a pending approval request. Validates parent run belongs to authenticated org. Sets status, reason,
        resolved_by, resolved_at.
      parameters:
      - name: approval_id
        in: path
        required: true
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - action
              properties:
                action:
                  type: string
                  enum:
                  - approve
                  - reject
                reason:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - approval_id
                - status
                properties:
                  approval_id:
                    type: string
                  status:
                    type: string
                    enum:
                    - approved
                    - rejected
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/agents/manifest:
    get:
      operationId: agents_manifest_get
      summary: "Return metadata for all agents in AgentRegistry. Does NOT require the model client \u2014 only the registry.\
        \ For frontend dis"
      tags:
      - agents
      x-octomil-method: agents.manifest.get
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - agent_system_unavailable
      - network_unavailable
      - request_timeout
      - server_error
      description: "Return metadata for all agents in AgentRegistry. Does NOT require the model client \u2014 only the registry.\
        \ For frontend discovery."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentManifest'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/agents/runs/{run_id}/cancel:
    post:
      operationId: agents_runs_cancel
      summary: Cancel a run in queued, running, or awaiting_approval status. Sets status=cancelled and completed_at=now().
      tags:
      - agents
      x-octomil-method: agents.runs.cancel
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - Updates Run.status to cancelled and sets completed_at.
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - run_not_found
      - run_state_invalid
      - agent_system_unavailable
      - network_unavailable
      - request_timeout
      - server_error
      description: Cancel a run in queued, running, or awaiting_approval status. Sets status=cancelled and completed_at=now().
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - run_id
                - status
                properties:
                  run_id:
                    type: string
                  status:
                    type: string
                    enum:
                    - cancelled
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/agents/runs/{run_id}:
    get:
      operationId: agents_runs_get
      summary: Retrieve a run by ID with steps (by step_index) and pending ApprovalRequests. Scoped to the authenticated org.
      tags:
      - agents
      x-octomil-method: agents.runs.get
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - run_not_found
      - agent_system_unavailable
      - network_unavailable
      - request_timeout
      - server_error
      description: Retrieve a run by ID with steps (by step_index) and pending ApprovalRequests. Scoped to the authenticated
        org.
      parameters:
      - name: run_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Run'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/agents/sessions/{session_id}/complete:
    post:
      operationId: agents_sessions_complete
      summary: 'Mark a client-side agent session as completed. Updates Run: status=completed, summary, confidence, completed_at=now().
        e'
      tags:
      - agents
      x-octomil-method: agents.sessions.complete
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - Updates Run.status to completed, sets summary, confidence, completed_at.
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - run_not_found
      - network_unavailable
      - request_timeout
      - server_error
      description: 'Mark a client-side agent session as completed. Updates Run: status=completed, summary, confidence, completed_at=now().
        evidence and next_steps not persisted.'
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - summary
              properties:
                summary:
                  type: string
                confidence:
                  type: number
                  nullable: true
                  minimum: 0
                  maximum: 1
                evidence:
                  type: array
                  items:
                    type: string
                  default: []
                next_steps:
                  type: array
                  items:
                    type: string
                  default: []
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - session_id
                - status
                properties:
                  session_id:
                    type: string
                  status:
                    type: string
                    enum:
                    - completed
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/agents/sessions:
    post:
      operationId: agents_sessions_create
      summary: Create a client-side agent tool session. Server resolves the model, selects deployment lane, reads system prompt,
        builds
      tags:
      - agents
      x-octomil-method: agents.sessions.create
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - Inserts a Run row in agent_runs with status=running.
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - invalid_input
      - agent_system_unavailable
      - network_unavailable
      - request_timeout
      - server_error
      description: Create a client-side agent tool session. Server resolves the model, selects deployment lane, reads system
        prompt, builds tool gateway, and creates a Run row (status=running).
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_type
              - query
              properties:
                agent_type:
                  type: string
                  description: Agent type key. Returns 400 if unknown.
                query:
                  type: string
                  maxLength: 2000
                context:
                  type: object
                  additionalProperties: true
                  default: {}
                device_id:
                  type: string
                  nullable: true
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateSessionResponse'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/agents/sessions/{session_id}/execute:
    post:
      operationId: agents_sessions_execute
      summary: Execute a single tool call within a client-side agent session. Records a Step row. Returns tool result as JSON
        string.
      tags:
      - agents
      x-octomil-method: agents.sessions.execute
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - Inserts a Step row in agent_steps.
      - Side effects of the tool itself.
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - run_not_found
      - invalid_input
      - agent_system_unavailable
      - network_unavailable
      - request_timeout
      - server_error
      description: Execute a single tool call within a client-side agent session. Records a Step row. Returns tool result
        as JSON string.
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - tool_name
              - tool_call_id
              properties:
                tool_name:
                  type: string
                arguments:
                  type: object
                  nullable: true
                  additionalProperties: true
                  description: Null is coerced to {}.
                tool_call_id:
                  type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - tool_call_id
                - content
                - is_error
                properties:
                  tool_call_id:
                    type: string
                  content:
                    type: string
                    description: JSON-serialised tool result.
                  is_error:
                    type: boolean
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/agents/sessions/{session_id}/responses:
    post:
      operationId: agents_sessions_responses_create
      summary: Run one inference turn within an active agent session. Validates session ownership and model match. Runs optional
        intent
      tags:
      - agents
      x-octomil-method: agents.sessions.responses.create
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - Populates in-process response cache for multi-turn threading.
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - run_not_found
      - invalid_input
      - agent_system_unavailable
      - network_unavailable
      - request_timeout
      - server_error
      description: Run one inference turn within an active agent session. Validates session ownership and model match. Runs
        optional intent gate. Builds context from previous_response_id cache.
      parameters:
      - name: session_id
        in: path
        required: true
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - input
              properties:
                model:
                  type: string
                  nullable: true
                  description: Must match session's resolved_model. Mismatch returns 400.
                input:
                  oneOf:
                  - type: string
                  - type: array
                    items:
                      type: object
                      additionalProperties: true
                tools:
                  type: array
                  items:
                    type: object
                    additionalProperties: true
                  default: []
                previous_response_id:
                  type: string
                  nullable: true
                stream:
                  type: boolean
                  default: false
                max_output_tokens:
                  type: integer
                  nullable: true
                  default: 4096
                temperature:
                  type: number
                  nullable: true
                instructions:
                  type: string
                  nullable: true
                metadata:
                  type: object
                  additionalProperties:
                    type: string
                  default: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: 'stream=false: response payload (output, tool_calls, usage). stream=true: text/event-stream with
                  text_delta, tool_call_delta, done, error.

                  '
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/agents/threads:
    post:
      operationId: agents_threads_create
      summary: Create a new conversation thread for the specified agent_type. Validates against AgentRegistry.supported_agents()
        and in
      tags:
      - agents
      x-octomil-method: agents.threads.create
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - Inserts a Thread row in chat_threads.
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - invalid_input
      - agent_system_unavailable
      - network_unavailable
      - request_timeout
      - server_error
      description: Create a new conversation thread for the specified agent_type. Validates against AgentRegistry.supported_agents()
        and inserts a Thread row in chat_threads.
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - agent_type
              properties:
                agent_type:
                  type: string
                  description: Agent type key. Must be in AgentRegistry. Returns 400 if unknown.
                title:
                  type: string
                  nullable: true
                metadata:
                  type: object
                  additionalProperties: true
                  default: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
    get:
      operationId: agents_threads_list
      summary: List threads for the authenticated org, optionally filtered by agent_type. Scoped to org_id, ordered by updated_at
        DESC,
      tags:
      - agents
      x-octomil-method: agents.threads.list
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - agent_system_unavailable
      - network_unavailable
      - request_timeout
      - server_error
      description: List threads for the authenticated org, optionally filtered by agent_type. Scoped to org_id, ordered by
        updated_at DESC, hard-capped at 50.
      parameters:
      - name: agent_type
        in: query
        required: false
        schema:
          type: string
        description: Filter by agent_type. Omit to return all types.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                items:
                  schema: agents/Thread.json
                description: Array of Thread objects ordered by updated_at DESC, capped at 50.
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/agents/threads/{thread_id}:
    get:
      operationId: agents_threads_get
      summary: Retrieve a thread by ID with full message history. Scoped to the authenticated org; 404 for cross-org access.
      tags:
      - agents
      x-octomil-method: agents.threads.get
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - thread_not_found
      - agent_system_unavailable
      - network_unavailable
      - request_timeout
      - server_error
      description: Retrieve a thread by ID with full message history. Scoped to the authenticated org; 404 for cross-org access.
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Thread'
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/agents/threads/{thread_id}/runs:
    post:
      operationId: agents_threads_runs_create
      summary: Start a new agent run within an existing thread. Validates thread ownership, opens SSE stream via start_agent_run().
        Fir
      tags:
      - agents
      x-octomil-method: agents.threads.runs.create
      x-octomil-since: 1.28.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: false
      x-octomil-retryable-on:
      - network_unavailable
      - server_error
      x-octomil-side-effects:
      - Inserts Run row in agent_runs.
      - Inserts Message and Step rows as orchestrator progresses.
      - Inserts ApprovalRequest rows for high-risk tools.
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - thread_not_found
      - agent_system_unavailable
      - network_unavailable
      - request_timeout
      - server_error
      description: Start a new agent run within an existing thread. Validates thread ownership, opens SSE stream via start_agent_run().
        First event is run_created with run_id. Stream closes after done.
      parameters:
      - name: thread_id
        in: path
        required: true
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - query
              properties:
                query:
                  type: string
                  maxLength: 2000
                context:
                  type: object
                  additionalProperties: true
                  default: {}
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: string
                format: text/event-stream
                description: 'SSE stream. Event types: run_created, message_delta, tool_call, run_completed, run_failed, done.

                  '
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/apps/{app_slug}/activity:
    get:
      operationId: apps_activity
      summary: Return the activity feed scoped to a single app, newest first. Backed by activity_feed_service.get_feed() with
        app_id fi
      tags:
      - apps
      x-octomil-method: apps.activity
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - app_not_found
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: Return the activity feed scoped to a single app, newest first. Backed by activity_feed_service.get_feed()
        with app_id filter. Provides the same event types as the org-level activity feed (`/api/v1/activity`) but restricted
        to this app's events. Used by the app detail page's activity timeline.
      parameters:
      - name: app_slug
        in: path
        required: true
        schema:
          type: string
      - name: limit
        in: query
        required: false
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 20
      - name: before
        in: query
        required: false
        schema:
          type: string
        description: 'Opaque cursor returned by a prior response. Pass to retrieve events older than the cursor. Omit to start
          from the most recent events.

          '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: array
                description: "Unified activity feed for the app \u2014 deployment events and cloud usage \u2014 ordered newest\
                  \ first.\n"
                items:
                  type: object
                  additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/apps/{app_slug}/archive:
    post:
      operationId: apps_archive
      summary: Archive an App. Soft-delete; targets + slots are preserved for historical / audit purposes but the App is hidden
        from li
      tags:
      - apps
      x-octomil-method: apps.archive
      x-octomil-since: 1.10.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - sets App.status to "archived"
      - all keys bound to the App are revoked (key_records reject auth attempts)
      - emits telemetry event (app.archived)
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - assignment_not_found
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: Archive an App. Soft-delete; targets + slots are preserved for historical / audit purposes but the App
        is hidden from list endpoints by default and rejected by SDK auth flows.
      parameters:
      - name: app_slug
        in: path
        required: true
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: "Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original\
          \ response without re-executing side effects. Required by STYLE_GUIDE \xA75 on every non-idempotent write (POST\
          \ / PATCH); GET / PUT / DELETE are inherently idempotent and don't need it."
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: The App row with status = "archived".
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/apps/bootstrap:
    post:
      operationId: apps_bootstrap
      summary: 'First-run bootstrap: create an app, register a target for the given platform, and generate an app key (plus
        publishable '
      tags:
      - apps
      x-octomil-method: apps.bootstrap
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - creates App record
      - creates AppTarget/integration record for the selected platform (server target registered with identifier `{slug}-default`)
      - creates ApiKey record (key_type=app_key, environment=live)
      - creates ApiKey record (key_type=publishable_key, environment=live) for ios/android/browser/macos platforms
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: 'First-run bootstrap: create an app, register a target for the given platform, and generate an app key
        (plus publishable key for mobile/browser platforms) in a single atomic transaction. Intended for the onboarding quickstart
        flow so the SDK integration instructions can display a ready-to-use API key immediately.

        The entire operation is atomic. If any step fails, the transaction is rolled back and no records are persisted.'
      parameters:
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: 'Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original
          response without re-executing side effects.

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
              - name
              - platform
              properties:
                name:
                  type: string
                  description: Human-readable app name. Used to auto-generate slug if not provided.
                slug:
                  type: string
                  description: 'URL-safe slug. If omitted the server auto-generates one from `name` with a short random suffix
                    to ensure uniqueness.

                    '
                description:
                  type: string
                  nullable: true
                platform:
                  type: string
                  description: 'Target platform for the initial target registration. Valid values: `ios | android | browser
                    | macos | server | node`.

                    '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                required:
                - app
                - app_key
                - app_key_id
                - app_key_prefix
                - quickstart
                properties:
                  app:
                    type: object
                    additionalProperties: true
                    description: Created app object (same shape as apps.get response).
                  integration:
                    type: object
                    nullable: true
                    additionalProperties: true
                    description: 'Registered target/integration for the selected platform. Null if the platform did not produce
                      a target record.

                      '
                  app_key:
                    type: string
                    description: 'Plaintext app API key. Shown once at creation time only; callers MUST store this value.
                      Subsequent requests cannot retrieve it.

                      '
                  app_key_id:
                    type: string
                    description: Stable UUID for the created ApiKey record.
                  app_key_prefix:
                    type: string
                    description: First 21 characters of the app key, safe to log/display.
                  publishable_key:
                    type: string
                    nullable: true
                    description: 'Plaintext publishable key for mobile/browser platforms (`ios`, `android`, `browser`, `macos`).
                      Null for `server`/`node`. Shown once only.

                      '
                  publishable_key_id:
                    type: string
                    nullable: true
                    description: Stable UUID for the created publishable ApiKey record.
                  quickstart:
                    type: object
                    required:
                    - platform
                    - has_capability
                    - has_first_request
                    properties:
                      platform:
                        type: string
                      has_capability:
                        type: boolean
                        description: Whether the app already has at least one slot configured.
                      has_first_request:
                        type: boolean
                        description: Whether any inference request has been received for this app.
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/apps/{app_slug}/capabilities/{capability_key}/check-optimization:
    get:
      operationId: apps_capabilities_check_optimization
      summary: Check if a better model variant is available for this capability. Runs CapabilityOrchestratorService.check_optimization(
      tags:
      - apps
      x-octomil-method: apps.capabilities.check_optimization
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: true
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects: []
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - app_not_found
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: Check if a better model variant is available for this capability. Runs CapabilityOrchestratorService.check_optimization()
        which compares the currently deployed model variant against available alternatives, accounting for the device class
        and platform distribution of the app's registered targets. Returns a recommendation with the suggested variant and
        expected improvement, without making any changes.
      parameters:
      - name: app_slug
        in: path
        required: true
        schema:
          type: string
      - name: capability_key
        in: path
        required: true
        schema:
          type: string
      - name: device_class
        in: query
        required: false
        schema:
          type: string
        description: 'Filter optimization check to a specific device class (e.g. `high_end`, `mid_range`). Omit to check across
          all device classes.

          '
      - name: platform
        in: query
        required: false
        schema:
          type: string
        description: 'Filter optimization check to a specific platform (e.g. `ios`, `android`). Omit to check across all platforms.

          '
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "CheckOptimizationResponse \u2014 whether a better model exists for this capability given the\
                  \ fleet's current device class / platform composition.\n"
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/apps/{app_slug}/capabilities/{capability_key}/enable:
    post:
      operationId: apps_capabilities_enable
      summary: Enable a capability on an app. Runs CapabilityOrchestratorService.enable_capability() which resolves the best
        model vari
      tags:
      - apps
      x-octomil-method: apps.capabilities.enable
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - may create a Deployment record for this app+capability+environment
      - may create DeviceAssignment records for all registered targets
      - may start the deployment (transition to active/rolling_out)
      - creates or updates a CapabilitySlot for the capability
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - app_not_found
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
      description: 'Enable a capability on an app. Runs CapabilityOrchestratorService.enable_capability() which resolves the
        best model variant, creates a deployment scoped to this app+capability+environment, creates device assignments for
        all registered targets, and starts the deployment. This is the primary onboarding action for an app''s first capability.

        Idempotent in intent: if a deployment already exists for this app+capability+environment, the orchestrator updates
        it rather than creating a duplicate. However, the endpoint is marked non-idempotent because the exact side effects
        depend on the current state.'
      parameters:
      - name: app_slug
        in: path
        required: true
        schema:
          type: string
      - name: capability_key
        in: path
        required: true
        schema:
          type: string
      - name: Idempotency-Key
        in: header
        required: false
        schema:
          type: string
        description: 'Optional client-generated UUIDv4. Repeated requests with the same key within 24h replay the original
          response without re-executing side effects.

          '
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                variant_id:
                  type: string
                  nullable: true
                  description: 'Specific model variant to use. If omitted, the orchestrator selects the best available variant
                    for the app''s registered targets.

                    '
                environment:
                  type: string
                  default: staging
                  description: Deployment environment. Defaults to `staging`.
                serving_policy:
                  type: object
                  nullable: true
                  additionalProperties: true
                  description: Optional serving policy overrides for the created deployment.
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                type: object
                description: "EnableCapabilityResponse \u2014 includes status, the created or updated deployment, assigned\
                  \ model variant, and any warnings.\n"
                additionalProperties: true
        default:
          description: Error response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorEnvelope'
  /api/v1/apps/{app_slug}/capabilities/{capability_key}/optimize:
    post:
      operationId: apps_capabilities_optimize
      summary: Re-optimize a capability by starting a canary rollout to a better model variant. Runs CapabilityOrchestratorService.opti
      tags:
      - apps
      x-octomil-method: apps.capabilities.optimize
      x-octomil-since: 1.26.0
      x-octomil-stability: stable
      x-octomil-idempotent: false
      x-octomil-blocking: true
      x-octomil-retryable-on:
      - network_unavailable
      - request_timeout
      - server_error
      x-octomil-side-effects:
      - may update existing Deployment record to target a new model variant
      - may create a new canary Rollout record
      - may update DeviceAssignment records for the new variant
      x-octomil-errors:
      - authentication_failed
      - forbidden
      - app_not_found
      - invalid_input
      - network_unavailable
      - request_timeout
      - server_error
[...]
